-# Top central space

%div{class:'top-space'}
    - if @userProducts.empty?
        %div{class:'row centered-for-flex'}
            %div{class:'col-md-6'}
                %h4="Nie został jeszcze dodany żaden produkt własny."
            %div{classs:'col-md-1'}
                = link_to 'Dodaj produkt', modal_path(body: 'user_products/add', title: 'Wprowadź dane produktu', size: 'lg'), remote: true, 'data-toggle' =>  'modal', 'data-target' => '#modal-holder', class:'btn-form link-adjustements'
    - else
        %div{class:'row justify-content-end'}
            %div{class:'col-md-3'}
                %form{class:'form-inline', action:'/userProducts', method:'post'}
                    %input{name: 'authenticity_token',type:'hidden', value:"#{form_authenticity_token}"}
                    %input{class:'form-control mr-sm-2', type:'search', name:'searched', id:'searched', placeholder:'Wyszukaj', 'aria-label' => 'Search'}
                    %button{class:'btn my-2 my-sm-0', type:'submit'}
                        %i{class:'fas fa-search btn-search'}
            %div{classs:'col-md-1'}
                = link_to 'Dodaj produkt', modal_path(body: 'user_products/add', title: 'Wprowadź dane produktu', size: 'lg'), remote: true, 'data-toggle' =>  'modal', 'data-target' => '#modal-holder', class:'btn-form link-adjustements'
    - if @error.present?
        #error{class:'alert alert-danger centered', role:'alert', style:'text-align:center'}=@error
    - else
        #error{class:'alert alert-danger centered', role:'alert', style:'display:none; text-align:center'}
    - if @message.present?
        #success{class:'alert alert-success', role:'alert', style:'text-align:center'}=@message

-# Table

%div{class:'container'}
    - if !@userProducts.empty?
        %table{class:'table table-striped'}
            %thead
                %tr
                    %th='Nazwa produktu'
                    %th='Kalorie'
                    %th='Białko'
                    %th='Węglowodany'
                    %th='Tłuszcz'
                    %th=''
                    %th=''
                    %th=''
            - if @searched.nil?
                - if @userProducts.present?
                    - @userProducts.each do |product|
                        %tr
                            %td=product.Name
                            %td=product.Calories
                            %td=product.Protein
                            %td=product.Carbs
                            %td=product.Fat
                            %td
                                = link_to '', modal_path(body: 'shared/show_product', product: product.id, title: product.Name), remote: true, 'data-toggle' =>  'modal', 'data-target' => '#modal-holder', class:'far fa-eye btn-examine'
                            %td
                                = link_to '', modal_path(body: 'user_products/edit', product: product.id, title: 'Edytuj wybrane dane', size: 'lg'), remote: true, 'data-toggle' =>  'modal', 'data-target' => '#modal-holder', class:'fas fa-pencil-alt btn-edit'
                            %td
                                = link_to '', delete_product_path(product: product.id), class: 'fas fa-times btn-delete delete'
            - else
                %td=@searched.Name
                %td=@searched.Calories
                %td=@searched.Protein
                %td=@searched.Carbs
                %td=@searched.Fat
                %td
                    = link_to '', modal_path(body: 'shared/show_product', product: @searched.id, title: @searched.Name), remote: true, 'data-toggle' =>  'modal', 'data-target' => '#modal-holder', class:'far fa-eye btn-examine'
                %td
                    = link_to '', modal_path(body: 'user_products/edit', product: @searched.id, title: 'Edytuj wybrane dane', size: 'lg'), remote: true, 'data-toggle' =>  'modal', 'data-target' => '#modal-holder', class:'fas fa-pencil-alt btn-edit'
                %td
                    = link_to '', delete_product_path(product: @searched.id), class: 'fas fa-times btn-delete delete'

    -# Tu kod wstawiający tabelę

%script
    $(function() {
    var productList = [
    - if @userProducts.present?
        - @userProducts.each do |product|
            =raw("'#{product.Name}',")
    ];
    $("#searched").autocomplete({
    source: productList
    });
    });
    $(document).off('ajax:success').on('ajax:success',function(event){
    var xhr = event.detail[2];
    if(xhr.responseText == "success"){
    $("#success").css("display","block");
    $("#error").css("display","none");
    }
    else if(xhr.responseText == "error"){
    $("#error").css("display","block");
    $("#success").css("display","none");
    }
    else if(xhr.responseText.search('modal')<0 && xhr.responseText.search('Cache')<0){
    $("#error").html(xhr.responseText);
    $("#error").css("display","block");
    $("#success").css("display","none");
    }
    });
    $(document).ready(function (){
    $(".delete").click(function () {
    if(!confirm("Czy na pewno chcesz usunąć ten produkt?"))
    return false;
    });
    });