-# Top central space

%div{class:'top-space'}
    %div{class:'row centered-for-flex'}
        - if !@requisition.userRequisitionTargetCalories.nil?
            %div{class:'col-md-8'}
                %h4="Żeby osiągnąć swój cel powinieneś spożywać: #{@requisition.userRequisitionTargetCalories} kcal dziennie"
            %div{classs:'col-md-1'}
                = link_to 'Przelicz ponownie', '/user_requisition/requisition', class:'btn-form link-adjustements', remote: true   
        - else   
            %div{class:'col-md-10'}     
                %h3='Wprowadź swoje dane, żeby obliczyć swoje zapotrzebowanie energetyczne'
            %div{classs:'col-md-1'}
            = link_to 'Oblicz', '/user_requisition/requisition', class:'btn-form link-adjustements', remote: true   
    #error{class:'alert alert-danger centered', role:'alert', style:'display:none; text-align:center'}
    #advice{class:'alert alert-warning centered', role:'alert', style:'display:none; text-align:center'}      
    - if @message.present?
        #success{class:'alert alert-success', role:'alert', style:'text-align:center'}=@message

-# Forms

%div{class:'container'}
    %div{class:'row'}
        %div{class:'col-8'}
            %div{class:'row'}
                %p='Jestem sobie napisem testowym, bo Oki chce coś sprawdzić. Nie jestem dupą Igora.'
        %div{class:'col-4 user-data'}
            %div{class:'row'}
                #data
                    %h5{class:'inside-header-for-profile'}='Moje dane'
                    - if @data.userDataHeight.present?
                        %div{class:'row'}
                            %p="Wzrost: #{@data.userDataHeight} cm"
                            = link_to '', modal_path(body: 'profile/data', title: 'Wprowadź dane', which: 'hgt'), remote: true, 'data-toggle' =>  'modal', 'data-target' => '#modal-holder', class:'fas fa-pencil-alt btn-edit-for-profile'   
                        %div{class:'row'}
                            %p="Data urodzenia: #{@data.userDataBirthDay}"
                            = link_to '', modal_path(body: 'profile/data', title: 'Wprowadź dane', which: 'bd'), remote: true, 'data-toggle' =>  'modal', 'data-target' => '#modal-holder', class:'fas fa-pencil-alt btn-edit-for-profile'    
                        %div{class:'row'}
                            %p
                                ='Płeć: '
                                - if @data.userDataIsWoman
                                    ='Kobieta'
                                - else
                                    ='Mężczyzna'
                            = link_to '', modal_path(body: 'profile/data', title: 'Wprowadź dane', which: 'sx'), remote: true, 'data-toggle' =>  'modal', 'data-target' => '#modal-holder', class:'fas fa-pencil-alt btn-edit-for-profile'  
                    - else                    
                        %p='Nie wprowadziłeś jeszcze swoich danych'                
                        = link_to '', modal_path(body: 'profile/data', title: 'Wprowadź dane', which: 'all'), remote: true, 'data-toggle' =>  'modal', 'data-target' => '#modal-holder', class:'fas fa-plus-square btn-add'   
            %div{class:'row'}    
                #measurement
                    %h6{class:'inside-header-for-profile'}='Moje wymiary'
                    - if @measurements.userMeasurementsWeight.present?
                        %div{class:'row'}
                            %p="Waga: #{@measurements.userMeasurementsWeight} kg"
                            = link_to '', modal_path(body: 'profile/measurements', title: 'Wprowadź wartość', which: 'wght'), remote: true, 'data-toggle' =>  'modal', 'data-target' => '#modal-holder', class:'fas fa-pencil-alt btn-edit-for-profile'   
                        %div{class:'row'}
                            %p="Obwód pasa: #{@measurements.userMeasurementsWaist} cm"
                            = link_to '', modal_path(body: 'profile/measurements', title: 'Wprowadź wartość', which: 'wst'), remote: true, 'data-toggle' =>  'modal', 'data-target' => '#modal-holder', class:'fas fa-pencil-alt btn-edit-for-profile'    
                        %div{class:'row'}        
                            %p="Obwód bioder: #{@measurements.userMeasurementsHips} cm"
                            = link_to '', modal_path(body: 'profile/measurements', title: 'Wprowadź wartość', which: 'hps'), remote: true, 'data-toggle' =>  'modal', 'data-target' => '#modal-holder', class:'fas fa-pencil-alt btn-edit-for-profile'    
                    - else                    
                        %p='Nie wprowadziłeś jeszcze swoich wymiarów'           
                        = link_to '', modal_path(body: 'profile/measurements', title: 'Moje wymiary', which: 'all'), remote: true, 'data-toggle' =>  'modal', 'data-target' => '#modal-holder', class:'fas fa-plus-square btn-add'   
            %div{class:'row'}   
                #activity
                    %h6{class:'inside-header-for-profile'}='Stopień aktywności fizycznej'
                    - if @data.userDataActivityID.present?
                        %div{class:'row'}
                            %p='Twój stopień aktywności fizycznej: '
                        %div{class:'row'}    
                            %p="#{@activity.activityDescription}"
                            = link_to '', modal_path(body: 'profile/activity', title: 'Wybierz stopień aktywności'), remote: true, 'data-toggle' =>  'modal', 'data-target' => '#modal-holder', class:'fas fa-pencil-alt btn-edit-for-profile'    
                    - else                        
                        %div
                        = render :partial => 'activity'
            %div{class:'row'}       
                #target
                    %h6{class:'inside-header-for-profile'}='Moj cel'
                    - if @data.userDataTargetID.present?
                        %div{class:'row'}
                            %p="Twój cel to: #{@target.targetDescription}"
                            = link_to '', modal_path(body: 'profile/target', title: 'Wybierz cel'), remote: true, 'data-toggle' =>  'modal', 'data-target' => '#modal-holder', class:'fas fa-pencil-alt btn-edit-for-profile'    
                    - else                        
                        %div    
                        = render :partial => 'target'

%script
    $(document).off('ajax:success').on('ajax:success',function(event){
    var xhr = event.detail[2];
    if(xhr.responseText == "success"){
    $("#success").css("display","block");
    $("#error").css("display","none");
    }
    else if(xhr.responseText == "error"){
    $("#error").css("display","block");
    $("#success").css("display","none");
    }
    else if(xhr.responseText == "Incomplete data"){
    if(confirm("Twoje dane są niekompletne czy chcesz je teraz uzupełnić?")) {
    $("#modal-holder").html("#{ escape_javascript(render 'modal/modal') }");
    $("#modal-title").html('Uzupełnij dane');
    $("#modal-body").html("#{ escape_javascript(render 'profile/data', which:'all') }");
    $(".modal").modal('show');
    $(".btn-close").click(function () {
    if(confirm("Czy na pewno chcesz zamknąć to okno?"))
    $(".modal").modal('hide');
    });
    }
    else{
    $("#error").html("Nie można obliczyć zapotrzebowania ze względu na niekompletne informacje.");
    $("#error").css("display","block");
    }}
    else if(xhr.responseText == "Incomplete measurements"){
    if(confirm("Twoje wymiary są niekompletne czy chcesz je teraz uzupełnić?")) {
    $("#modal-holder").html("#{ escape_javascript(render 'modal/modal') }");
    $("#modal-title").html('Uzupełnij wymiary');
    $("#modal-body").html("#{ escape_javascript(render 'profile/measurements', which: 'all') }");
    $(".modal").modal('show');    
    $(".btn-close").click(function () {
    if(confirm("Czy na pewno chcesz zamknąć to okno?"))
    $(".modal").modal('hide');
    });
    }
    else{
    $("#error").html("Nie można obliczyć zapotrzebowania ze względu na niekompletne informacje.");
    $("#error").css("display","block");
    }}
    else if(xhr.responseText == "Incomplete activity"){
    if(confirm("Nie określono stopnia aktywności czy chcesz to zrobić teraz?")){
    $("#advice").html("Wybierz stopień swojej aktywności fizycznej.");
    $("#advice").css("display","block");
    }
    else{
    $("#error").html("Nie można obliczyć zapotrzebowania ze względu na niekompletne informacje.");
    $("#error").css("display","block");
    }}
    else if(xhr.responseText == "Incomplete target"){
    if(confirm("Nie określono celu czy chcesz to zrobić teraz?")){
    $("#advice").html("Wybierz swój cel.");
    $("#advice").css("display","block");
    }
    else{
    $("#error").html("Nie można obliczyć zapotrzebowania ze względu na niekompletne informacje.");
    $("#error").css("display","block");
    }}
    else if(xhr.responseText.search('modal')<0 && xhr.responseText.search('Cache')<0){
    $("#error").html(xhr.responseText);
    $("#error").css("display","block");
    $("#success").css("display","none");
    }
    });
    $(".modify-kcal").click(function () {
    $("#modal-title").html('Wprowadź proponowaną kaloryczność');
    $("#modal-body").html("#{ escape_javascript(render 'profile/modify') }");
    $(".modal").modal('show');
    $(".btn-close").off('click').click(function () {
    if(confirm("Czy na pewno chcesz zamknąć to okno?"))
    $(".modal").modal('hide');
    });
    });