- @tmp = false

-# Top central space
%div{class:'top-space'}
    %div{class:'row centered-for-flex'}
        - if @eatenMeals.empty?
            %div{class:'row justify-content-center date-nav'}
                %div{class:'col-md-2'}
                    %a{ href: "/meals/meals?day=#{@day - 1}"}
                        %i{class:'far fa-arrow-alt-circle-left'}
            %div{class:'col-md-6 meals-header'}
                %h4="Dziś jeszcze nie został dodany żaden posiłek."
                %h6="Dodaj posiłek, żeby sprawdzić czy zaspakajasz swoje zapotrzebowanie na składniki odżywcze."
            %div{class:'col-md-2 date-nav'}
                - unless @day == Date.today
                    %a{ href: "/meals/meals?day=#{@day + 1}"}
                        %i{class:'far fa-arrow-alt-circle-right'}
            %div{classs:'col-md-1'}
                = link_to '', modal_path(body: 'meals/add', title: 'Wprowadź posiłek'), remote: true, 'data-toggle' =>  'modal', 'data-target' => '#modal-holder', class:'fas fa-plus-square btn-add'
        - else
            %div{class:'row justify-content-center date-nav'}
                %div{class:'col-md-2'}
                    %a{ href: "/meals/meals?day=#{@day - 1}"}
                        %i{class:'far fa-arrow-alt-circle-left'}
                %div{class:'col-md-8'}
                    %p="#{@day}"
                %div{class:'col-md-2'}
                    - unless @day == Date.today
                        %a{ href: "/meals/meals?day=#{@day + 1}"}
                            %i{class:'far fa-arrow-alt-circle-right'}
            %div{class:'row justify-content-center req-short-info'}
                #calories{class:'col-3'}
                    %p="Kalorie: "
                    %span{class:@resultkc}= "#{@gotten.Calories.round(2)}"
                    %span=" kcal"
                #protein{class:'col-3'}
                    %p="Białko: "
                    %span{class:@resultp}="#{@gotten.Protein.round(2)}"
                    %span=" g"
                #carbs{class:'col-3'}
                    %p="Węglowodany: "
                    %span{class:@resultc}="#{@gotten.Carbs.round(2)}"
                    %span=" g"
                #fat{class:'col-3'}
                    %p="Tłuszcze: "
                    %span="#{@gotten.Fat.round(2)}"
                    %span=" g"
    #error{class:'alert alert-danger centered', role:'alert', style:'display:none; text-align:center'}
    - if @message.present?
        #success{class:'alert alert-success', role:'alert', style:'text-align:center'}=@message

-#Highcharts

- if !@eatenMeals.empty?
    %div
        = link_to 'Witaminy i pierwiastki', modal_path(body: 'meals/other_nutrients', title: 'Witaminy i pierwiastki'), remote: true, 'data-toggle' =>  'modal', 'data-target' => '#modal-holder', class:'btn-form btn-big link-adjustements'

#pie-chart

-# Table with meals

%div{class:'container'}
    %div{class:'row'}
        - if !@eatenMeals.empty?
            - @tmp = true
            %table{class:'table'}
                %thead{class:'t-header'}
                    %tr
                    - @meals.each do |meal|
                        %th=meal.Name
                %tr
                    - @meals.each do |meal|
                        %td{class:'calories'}
                            - caloriesForMeal = 0
                            - @eatenMeals.each do |eaten|
                                - if eaten[:IDP] == meal.id
                                    - caloriesForMeal = caloriesForMeal + eaten[:Calories] rescue 0
                            - if caloriesForMeal > 0
                                = caloriesForMeal.round(2)

                - while !@eatenMeals.empty?
                    - eats = nil
                    %tr
                        - @meals.each do |meal|
                            - eats = nil
                            - eats = @eatenMeals.sort_by{|eaten| eaten[:Time] }.select{|eaten| eaten[:IDP] == meal.id }
                            - unless eats.empty?
                                - time = eats.first[:Time]
                                - eats = eats.select{|eaten| eaten[:Time] == time }
                                - eats.each do |eat|
                                    - @eatenMeals.delete_if{|eaten| eaten[:id] == eat[:id] }
                                %td
                                    %p{class:'hour'}=eats.first[:Time].to_s(:time)
                                    %hr
                                    - eats.each do |eat|
                                        %p{class:'eaten'}
                                            =@eatenNames[eat[:id]]
                                            = link_to '', delete_meal_path(eaten: eat[:id]), class: 'fas fa-times btn-delete delete'

                            - else
                                %td

    - if @tmp
        %div{class:'row justify-content-end'}
            = link_to '', modal_path(body: 'meals/add', title: 'Wprowadź posiłek'), remote: true, 'data-toggle' =>  'modal', 'data-target' => '#modal-holder', class:'fas fa-plus-square btn-add'

%script
    $(document).off('ajax:success').on('ajax:success',function(event){
    var xhr = event.detail[2];
    if(xhr.responseText == "error"){
    $("#error").css("display","block");
    $("#success").css("display","none");
    }
    else if(xhr.responseText == "Choose how"){
    $("#modal-holder").html("#{ escape_javascript(render 'modal/modal') }");
    $("#modal-title").html('Wybierz co chcesz dodać');
    $("#modal-body").html("#{ escape_javascript(render 'meals/how_to_add') }");
    $(".modal").modal('show');
    }
    else if(xhr.responseText == "Comeback"){
    $("#modal-title").html('Wybierz produkt');
    $("#modal-body").html("#{ escape_javascript(render 'meals/add_from_products') }");
    $(".modal").modal('show');
    $("#success").css("display","block");
    $("#error").css("display","none");
    }
    else if(xhr.responseText == "Decompose"){
    $("#modal-title").html('Wybierz produkt');
    $("#modal-body").html("#{ escape_javascript(render 'meals/decompose') }");
    $(".modal").modal('show');
    $("#success").css("display","block");
    $("#error").css("display","none");
    }
    });
    $(document).ready(function (){
    $(".delete").click(function () {
    if(!confirm("Czy na pewno chcesz usunąć ten posiłek?"))
    return false;
    });
    Highcharts.chart('pie-chart', {
    chart: {
    plotBackgroundColor: null,
    plotBorderWidth: null,
    plotShadow: false,
    type: 'pie'
    },
    title: {
    text: 'Rozkład procentowy spożycia makroskładników'
    },
    tooltip: {
    pointFormat: '{point.tooltip_info}'
    },
    accessibility: {
    point: {
    valueSuffix: '%'
    }
    },
    plotOptions: {
    pie: {
    allowPointSelect: true,
    cursor: 'pointer',
    dataLabels: {
    enabled: true,
    format: '<b>{point.name}</b>: <span style="color: {point.class}">{point.percentage:.1f} %'
    }
    }
    },
    series: [{
    name: 'Makroskładniki',
    colorByPoint: true,
    data: #{raw(@chart_data)}
    }]
    });
    });