%html
  %head
    %title='OK Menadżer Żywienia'
    = csrf_meta_tags 
    = csp_meta_tag 

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' 
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload' 
    %link{ rel: 'stylesheet', href: '/assets/style.css' }
    %link{ rel: 'stylesheet', href:'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity:'sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin:'anonymous' }  
    %link{ href: 'https://fonts.googleapis.com/css?family=Anton|Cherry+Swash|Raleway&display=swap', rel:'stylesheet'} 
    %script{ src:'https://code.jquery.com/jquery-3.4.1.slim.min.js', integrity:'sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n', crossorigin:'anonymous'}
    %script{ src:'https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity:'sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin:'anonymous'}
    %script{ src:'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js', integrity:'sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6', crossorigin:'anonymous'}

  #modal-holder  

  %body
    #header
      %nav{class:'navbar navbar-light nav-display', style:'background-color:#068506'}
        %div{class:'btn-group nav-display', role:'group'}
          -# - if @user.signed_in?
          %button{type:'button', class:'btn-nav-menu'}='Wyloguj'
          -# - else
          = link_to 'Rejestracja', modal_path(body: 'index/register', title: 'Rejestracja'), remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-holder', class:'btn-nav-menu .nav-display'   
          = link_to 'Logowanie', modal_path(body: 'index/register', title: 'Rejestracja'), remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-holder', class:'btn-nav-menu .nav-display'      
          

    #content
      = yield 
    #footer
      %hr
      %p='App created by O.Kierkowska for WWSI: Praca inżynierska 2020. All right reserved.'
      
  
